:root {
  --warm-main-background: #eae2d3;
  --secondary-neutral: #d6c9b4;
  --primary-accent: #b5523c;
  --secondary-accent: #2e4f6f;
  --natural-accent: #6b7f5b;
  --primary-dark: #1e1e1e;

  --serif: "Source Serif 4", serif;
  --heading: "Cinzel", serif;
  --sans-serif: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--serif);
}

a {
  text-decoration: none;
  color: unset;
}

.main-header {
  padding: 0 9rem;
  /* height: 6.6rem; */
  background-color: var(--warm-main-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header-link {
  font-size: 2.8rem;
  font-family: var(--heading);
  text-transform: uppercase;
}

.main-menu {
  display: flex;
  align-items: center;
  gap: 3.8rem;
  font-family: var(--sans-serif);
  font-size: 1.8rem;
  font-weight: 400;
}

.main-menu-item {
  padding: 3rem 0;
}

.main-menu-item:hover {
  border-bottom: 0.2rem solid #b5523c;
}

button {
  border: none;
  cursor: pointer;
  background-color: var(--warm-main-background);
}
