/* --paper: #f3eee3;
--ink: #202c2e;
--rust: #a34c32;
--line: #d7cbb7;
--blue: #1b3039;
--gold: #ad8e5d;
 */

:root {
  --warm-main-background: #eae2d3;
  --secondary-neutral: #d6c9b4;
  --primary-accent: #b5523c;
  --secondary-accent: #2e4f6f;
  --natural-accent: #6b7f5b;
  --primary-dark: #1e1e1e;

  --serif: "Source Serif 4", Georgia, serif;
  --heading: "Cinzel", Georgia, serif;
  --sans-serif: "Inter", Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--serif);
  color: var(--primary-dark);
  background-color: var(--warm-main-background);
}

a {
  text-decoration: none;
  color: unset;
}

.main-header {
  padding: 0 9rem;
  /* background-color: var(--warm-main-background); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header-link {
  font-size: 2.8rem;
  font-family: var(--heading);
  text-transform: uppercase;
}

.main-menu {
  display: flex;
  align-items: center;
  gap: 4.2rem;
  font-family: var(--sans-serif);
  font-size: 1.8rem;
}

.main-menu-item {
  padding: 3rem 0;
  border-bottom: 0.2rem solid var(--warm-main-background);
}

.main-menu-item:hover {
  border-bottom: 0.2rem solid var(--primary-accent);
}

.search-btn {
  padding: 0.8rem;
  border: none;
  cursor: pointer;
  background-color: var(--warm-main-background);
}

.hero {
  background-image: url("images/hero.png");
  background-size: cover;
  background-position: center;
  height: 75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eyebrow {
  font-family: var(--sans-serif);
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: var(--primary-accent);
  text-transform: uppercase;
}

.heading-primary {
  font-family: var(--heading);
  font-size: 7.4rem;
  font-weight: 400;
  text-align: center;
}

.description-primary {
  font-size: 2.2rem;
  text-align: center;
}

.btn-primary {
  font-family: var(--sans-serif);
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--warm-main-background);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  background-color: var(--primary-accent);
  padding: 1.4rem 2.8rem;
  margin: 2.8rem 0;
  transition: 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #984938;
  transform: translateY(-2px);
}

.hellas {
  font-size: 2.8rem;
  font-style: italic;
  color: var(--primary-accent);
  letter-spacing: 0.4rem;
}
